<div class="profile-container">
  <h6>{{'My Profile' | translate}}</h6>
  <div class="row mt-4 ">
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="{{'Name' | translate}}" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="{{'Phone' | translate}}" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="{{'password' | translate}}" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="{{'Email' | translate}}" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="{{'birthday' | translate}}" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="{{'new password' | translate}}" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <button class="btn btn-primary mt-4"> {{'save'|translate}}</button>
</div>
