<ngb-carousel>
	<ng-template ngbSlide>
		<div class="banner-container">
      <div class="img-container">
        <img class="img-fluid" src="../../../../../assets/imgs/baner-bg.png" alt="first slide" />
      </div>
      <div class="banner-content">
        <svg-icon src="../../../../../assets/imgs/logo-navbar.svg"  ></svg-icon>
        <h1 class="banner-title">{{'banner-title'| translate }}</h1>
        <p class="banner-text">{{'banner-text' | translate }}</p>
        <button class="btn btn-outline-secondary">{{'btn-explore'| translate}}</button>
     </div>
    </div>
	</ng-template>
</ngb-carousel>
