@import "../../../../../assets/style/scss-utils/_variables.scss";




.banner-container {
  position: relative;

  .img-container {
    max-height: 640px;
  }
  .banner-content {
    // animation: easyIn 0.7s ease-in-out;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 768px) {
      left: 50% !important;
      top: 50% !important;
      transform: translateY(-50%);
    }

    .banner-title {
      font-size: 2.5rem;
      font-weight: 700;
      color: $gray2;
      text-transform: capitalize;


      // margin-bottom: 1rem;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
        margin-bottom: .6rem !important;
      }
    }

    .banner-text {
      font-size: 1.2rem;
      font-weight: 400;
      color: $gray3;
      text-transform: capitalize;



      @media screen and (max-width: 768px) {
        font-size: .8rem;
        margin-bottom: .6rem !important;
      }
    }
  }

}




@keyframes easyIn {
  0% {
    -webkit-transform: translateX(0);

            transform: translateX(0);
            // transform: translateY(-50%);
  }
  100% {

    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
            transform: translateY(-50%);

  }
}
