.btn{
  padding: 6px 24px;
  @media screen and (max-width: 768px) {
    padding: 4px 24px;
  }

  &:hover{
   background-color: $primary-color-light;
   color: $primary-color;
  }

}

.btn-primary{

  &:hover{
    color: $primary-color;
  }

}

.btn-secondary{
  color: white;
  &:hover{
    color: white;
  }

}
