// $PoppinsFont: "Poppins", sans-serif;
// //colors
$primary-color: #4E7F51;
$primary-color-light: #ebefe6;
$secondary-color: #DFB35A;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
// $primary-color-dark: #2b1e43;
// $primary-dark-purple: #181818;
// $light-purple: #6264a7;
// $light-medium-purple: #6264a780;
// $light-white-purple: #fff8f8;
// $dark-gray: #4f4f4f;
$medium-gray: #8a8a8a;
$light-gray1: #FAFAFA;
// $gray2: #efefef;
$gray3: #CCCCCC;
// $gray4: #e9e9e9;
// $white: #ffffff;
// $background-color: #f7f8fa;
$red: #e12626;
// $red-light: #FFF1F1;
// $green-light:#EBFFF3;
// $gray-btn: #757575;
