@import "../scss-utils/_variables.scss";
.red {
  color: $red;
}

.green {
  color: $primary-color;
}

.gray{
  color: $gray3;
}

.secondary-color{
  color: $secondary-color;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.white{
  color: white;
}

.section{
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

// .success {
//   color: $green;
//   background-color: $green-light;
//   padding: 10px 18px;
// }

// .error {
//   color: $red;
//   background-color: $red-light;
//   padding: 10px 18px;

// }

// .status{
//   max-width: 3.5rem;
//   text-align: center;
// }
