@import "../assets/style/scss-utils/_variables.scss";
.app{
  width: 100%;
  overflow-x: hidden;
}


::ng-deep.offcanvas-backdrop {

  background-color: #313b33 !important;
}

::ng-deep.offcanvas-backdrop.show {
  opacity: 0.3;
}
