<div class="container mt-5 checkout-container">
 <div class="header">
    <h3>{{'Checkout'|translate}}</h3>
    <div class="checkout-stepper mt-4">
      <div class="step active"  (click)="onStepOne()" >
        <div class="step-label">{{'Shipping'|translate}}</div>
        <div class="line"></div>

      </div>
      <div class="step" (click)="onStepTwo()" [class.active]="step === 2 || step === 3 " >
        <div class="step-label">{{'Payment'|translate}}</div>
          <div class="line"></div>

      </div>
      <div class="step" (click)="onStepThree()" [class.active]="step === 3">
        <div class="step-label">{{'Place Order'|translate}}</div>
      </div>
    </div>
 </div>
 <div  *ngIf="step !== 3" class="order-body p-5 mt-5 row ">
  <div class="col-12 col-md-6">
    <div class="checkout-step ">
      <app-checkout-address *ngIf="step === 1"></app-checkout-address>
      <app-checkout-payment *ngIf="step === 2"></app-checkout-payment>

    </div>
  </div>
  <div class="col-12 col-md-1"></div>
   <div  class="order-details col-12 col-md-5 ">
    <h6>{{'Orders' | translate}}</h6>
    <app-product-cart></app-product-cart>
    <app-product-cart></app-product-cart>
    <div class="coupon input-group mt-5 ">
      <input type="text" class="form-control coupon-input" placeholder="{{'Enter coupon code here' | translate}}" aria-label="Username" aria-describedby="basic-addon1">
      <span class="input-group-text btn btn-secondary" id="basic-addon1">{{'Apply' | translate}}</span>
    </div>
    <div class="summery mt-5">
      <div class="sub-total d-flex justify-content-between">
        <p>{{'Subtotal' | translate}}</p>
        <p>  100 {{'KWD' | translate }}</p>
      </div>

      <div class="total d-flex justify-content-between green my-3">
        <p>{{'Total' | translate}}</p>
        <p> 100 {{'KWD' | translate }}</p>
      </div>
      <div class="actions-container my-5 ">
        <button *ngIf="step === 1" (click)="onStepTwo()" class=" btn btn-primary btn-checkout w-100 ">{{'Continue to payment' | translate}} </button>
        <button *ngIf="step === 2" (click)="onStepThree()" class=" btn btn-primary btn-checkout w-100 ">{{'Place Order' | translate}} </button>
      </div>
    </div>
  </div>



 </div>
  <div *ngIf="step === 3" class="order-body  my-5 ">
    <div class="checkout-step ">
      <app-checkout-done></app-checkout-done>
    </div>

</div>
