@import "../../../../../assets/style/scss-utils/_variables.scss";
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // @media screen and (max-width: 768px) {
  //   flex-direction: column;

  // }
}


.categories-title-list{

  display: flex;
  gap: .8rem;
  align-items: center;
  overflow-x: scroll;


  .category-title-item {
    font-size: 14px;
    color: $black;
    text-transform: capitalize;
    text-align: start;
    display: inline-block !important;
    flex-wrap: nowrap;
    cursor: pointer;
    padding: 4px;
    &:hover {
      background-color: $primary-color-light;
    }
  }
  .active{
    color: $primary-color;
  }
}

.categories-list{
  // overflow-x: scroll;
  //scroll horizontal only

  // display: flex;
  // gap: 1rem;
  // margin-top: 1rem;
  // margin-bottom: 1rem;






}

.scrollX{
  overflow-x: auto;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
}

